body {

	background-color: #000;
}

#top-bar {
	background-color: #FE0231;
	color: #D2CDFE;
}

.amber {
	color: orange;
}
.green {
	color: green;
}
.red {
	color: red;
}
.white {
	color: white;
}

.cursor {
	font-size: 12px;
	background-color: #00C5FC;
	color: #00C5FC;
	position: relative;
	opacity: 0.5;
}

.fullwidth-div{
	width: 100%;
}

input[type=text] { 
	text-transform: uppercase; 
	caret-style: block;
}

input[type=text], textarea {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
  background-color: black;
  color: white;
	width: 100%;
}

input[type=text]:focus, textarea:focus {
  -moz-box-shadow: 0 0 10px #0A587C;
  -webkit-box-shadow: 0 0 10px #0A587C;
  box-shadow: 0 0 10px #0A587C;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #51cbee;
  background-color: black;
	width: 100%;
}

label {
  width: 150px;
  float: left;
}

body {
  padding: 20px;
}