#screen {
	background-color: black;
	width: 100%;
	height: 100%;
}

#int-screen{
	background-color: white;
	width: 100%;
	height: 100%;
}

/* disable all outlines for all button*/
input[type="button"], button {
    outline: none;
}

button#two-line{
    background: transparent;
    border: none !important;
	background: black;
	color: white;
}
button#two-line:hover{
    outline: white thin solid;
}


#inputbar {
	outline-color: rgb(0, 197, 252);
    outline-style: solid;
    outline-width: thin; 
}

html, body {
	background-color: black;
	width: 100%;
	height: 100%;
}

#button-bar{
	width: 100%;
	background-color: #af0202;
}

.flat-red-button{
	color: white;
	background-color: #af0202;
	text-shadow: -1px 1px #417cb8;
	border: none;
	border-right: 1px solid black;
}

.flat-red-button:hover {
    background-color:#d80202;
}

.flat-red-button:active{
	background-color: #9d0101;
}







