#screen {
	background-color: black;
	width: 100%;
	height: 100%;
}

#int-screen{
	background-color: white;
}

button#two-line{
    background: transparent;
    border: none !important;
	background: black;
	color: white;
}

#inputbar {
	outline-color: rgb(0, 197, 252);
    outline-style: solid;
    outline-width: thin; 
}

body {
	background-color: black
}

#button-bar{
	width: 100%;
}

.flat-red-button{
	color: white;
	background-color: #af0202;
	text-shadow: -1px 1px #417cb8;
	border: none;
}